<div *ngIf="!editable" class="border border-success p-2 mb-2 border-opacity-25">
    <div class="container text-center">
        <div class="row">
          <div class="col-3">
            <img src="{{Planet.path}}"  class="img-fluid img">
            <h5>{{Planet.name}}</h5>
          </div>
          <div class="col-6 text">
            <p>{{Planet.description}}</p>
            <p>by captain: {{Planet.captainName}}</p>
            <h6>Robots:
              <span *ngFor="let item of Robot">
                {{item.name}}
              </span>
            </h6>
          </div>
          <div class="col-3 ">
            <div *ngIf="Planet.statusName == 'OK'">
              <h6 class="ok-green">{{Planet.statusName}}</h6>
            </div>
            <div *ngIf="Planet.statusName == '!OK'">
              <h6 class="ok-red">{{Planet.statusName}}</h6>
            </div>
            <div *ngIf="Planet.statusName == 'TODO'">
              <h6 class="ok-yellow">{{Planet.statusName}}</h6>
            </div>
            <div *ngIf="Planet.statusName == 'En route'">
              <h6 class="ok-gray">{{Planet.statusName}}</h6>
            </div>
            <div *ngIf="CaptainId == Planet.captainId">
                <button class="btn btn-primary okbtn" (click)="Edit()">Edit</button>
            </div>
          </div>
        </div>
    </div>

</div>
<div *ngIf="!!editable" class="border border-success p-2 mb-2 border-opacity-25">
    <div class="container text-center">

      <h5>{{Planet.name}}</h5>
      <div class="form-floating">
        <textarea class="form-control"  [(ngModel)]="Planet.description" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description:</label>
      </div>
      <br>
      <h5>Captain: {{Planet.captainName}}</h5>
      <div *ngFor="let item of Robot">
        {{item.name}}
      </div>
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" [(ngModel)]="Planet.status" aria-label="Floating label select example">
          <option selected>Select status:</option>
          <option value="1">OK</option>
          <option value="2">!OK</option>
          <option value="3">En Route</option>
          <option value="3">ToDo</option>
        </select>
        <label for="floatingSelect">Status:</label>
      </div>
      <br>
      <button class="btn btn-danger btn-sm" (click)="Save()">Save</button>
      <button class="btn btn-primary btn-sm" (click)="Edit()">Cancel</button>
    </div>
</div>


